html{
    background-color: mistyrose;
    color: rgb(57, 109, 207);
    text-align: center;
    margin: 0;
    padding: 0;

}
.btn{
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(255, 221, 96);
    color: rgb(40, 32, 32) ;
    padding: 10px;
}

table {
    margin-top: 20px;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
}

thead{
    background-color: rgb(152, 188, 255);
    margin-top: 45px;
    color: rgb(255, 255, 255);
}
td {
    padding: 8px 75px;
    border-color : 2px solid black;
    text-align: center;
    border-style: initial ;
    font-size: 19px;
}