body {
    background-color: rgb(213, 65, 95);
    width: auto;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    padding: auto;
    width: 110px;
    align-items: center;
    justify-items: center;
}

.card {
    background-color: rgba(132, 10, 10, 0.807);
    border-radius: 8px;
    box-sizing: border-box;
    align-items: center;
    width: 400px;
    height: 450px;
    margin-left: 540px;
    margin-top: 230px;
}

.row {
    align-items: center;
    padding: 10px 1px;
    text-align: center;
    flex-direction: column;
}


.form-label {
    margin-top: 30px;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.form-control {
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 10px;
}

.btn {
    padding: 4px 15px;
    color: aliceblue;
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btn-success {
    margin-top: 20px;
    background-color: rgb(52, 179, 52);
    border-color: aliceblue;
}

.btn-success:hover {
    background-color: darkseagreen;
    transition: 300ms;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-top: 50px;

}

.btn-primary {
    margin-top: 20px;
    background-color: rgb(22, 44, 204);
    border-color: aliceblue;
    width: 8px;
    height: 4px;
}

.btn-success:hover {
    background-color: rgb(60, 131, 212);
    transition: 300ms;
}