body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: rgb(12, 12, 12);
    font-size: larger;
}

.row {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.col1 {
    font-family: Arial, sans-serif;
    margin: 150px;
    padding: 1px 10px;
    justify-content: left;
    text-align: left;
}

